# Copy to /opt/voip/.azure.env (mode 660, group voip-panel). Keys can also be entered in Settings.
SPEECH_KEY=
SPEECH_REGION=eastus
SPEECH_ENDPOINT=https://eastus.api.cognitive.microsoft.com
AZURE_LANGUAGE_KEY=
AZURE_LANGUAGE_ENDPOINT=https://<resource>.cognitiveservices.azure.com/
AZURE_LANGUAGE_API_VERSION=2024-11-01
AZURE_CONTENT_SAFETY_KEY=
AZURE_CONTENT_SAFETY_ENDPOINT=https://<resource>.cognitiveservices.azure.com/
AZURE_TRANSLATOR_KEY=
AZURE_TRANSLATOR_REGION=eastus
AZURE_TRANSLATOR_ENDPOINT=https://api.cognitive.microsofttranslator.com
AZURE_OPENAI_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_API_VERSION=2024-10-21
